<html>
<head>
<title>LinkedIn Sharing test</title>
<meta property="og:url" content="http://<%= host %><%= path%>"/>
<meta property="og:title" content="LinkedIn Sharing Test"/>
<meta property="og:description" content="Trying Linked-in sharing with query parameters"/>
<meta property="og:image" content="http://<%= host %>/Share-with-Friends1.jpg"/>
<style>

div.share {
 padding: 20
}

</style>
<script>
 var hello = function() {
   console.log("LinkedIn library loaded");
 };

 var success = function() {
   alert("Time to celebrate!");
 };

 var failure = function() {
   alert("That didn't work out");
 };

</script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: <%= linkedin.apikey %>
  onLoad: hello
  authorize: true
</script>
</head>
<body>

<div>
 Current query string: <b><%= query_str %></b><br>
 (add some query string parts to the URL to test)
</div>

<div>
<script type="in/Login">
Hello, <?js= firstName ?> <?js= lastName ?>.
</script>
<div>

<div class=share>
  Share this page: <script type="IN/Share" data-url="" data-onSuccess="success" data-onError="failure"></script>
  <!-- data-url can be filled out with anything -->
</div>

<div class=share>
 Try this page: <a href="http://<%= host %><%= path%>?utm_source=linkedin&utm_medium=click&utm_campaign=blog&this=stays">prefilled campain variables</a>
</div>

<div>
 <img src="/Share-with-Friends1.jpg" alt="Please do share!">
</div>

</body>
</html>
