<html>
<head>
<title>LinkedIn Sharing test</title>
<meta property="og:url" content="http://<%= host %><%= path%>?bite=myshinymetalass&utm_source=linkedin&utm_medium=click&utm_campaign=blog"/>
<meta property="og:title" content="LinkedIn Sharing Test"/>
<meta property="og:description" content="Trying Linked-in sharing with query parameters"/>
<meta property="og:image" content="http://<%= host %>/Share-with-Friends1.jpg"/>
<style>

div.share {
 padding: 20
}

</style>
<script>
 var hello = function() {
   console.log("LinkedIn library loaded");
 };

 var success = function() {
   alert("Time to celebrate!");
 };

 var failure = function() {
   alert("That didn't work out");
 };

 var url = encodeURI("http://gergely.imreh.net/blog/2012/08/the-lean-startup-of-me/?utm_source=linkedin&utm_medium=click&utm_campaign=blog")
</script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: <%= linkedin.apikey %>
  onLoad: hello
  authorize: true
</script>
</head>
<body>

<div>
 Query string: <%= query_str %>
</div>

<div>
<script type="in/Login">
Hello, <?js= firstName ?> <?js= lastName ?>.
</script>
<div>

<div class=share>
  Bit.ly link: <script type="IN/Share" data-url="http://bit.ly/Tu7nh7" data-onSuccess="success" data-onError="failure"></script>
</div>

<div class=share>
  Full link: <script type="IN/Share" data-url="http://gergely.imreh.net/blog/2012/11/the-internet-hates-programming/?utm_source=linkedin&utm_medium=click&utm_campaign=blog" data-onSuccess="success" data-onError="failure"></script>
</div>

<hr>

<div class=share>
  Another bitly link: <script type="IN/Share" data-url="http://bit.ly/Tq0h9y" data-onSuccess="success" data-onError="failure"></script>
</div>

<div class=share>
  Full link of above: <script type="IN/Share" data-url="http://gergely.imreh.net/blog/2012/10/laboratory-2-0-a-monitoring-system/?utm_source=linkedin&utm_medium=click&utm_campaign=blog" data-onSuccess="success" data-onError="failure"></script>
</div>

<hr>

<div class=share>
  And another bitly link: <script type="IN/Share" data-url="http://bit.ly/Y7Qlcs" data-onSuccess="success" data-onError="failure"></script>
</div>

<div class=share>
  Full link of above: <script type="IN/Share" data-url="http://gergely.imreh.net/blog/2012/08/the-lean-startup-of-me?utm_source=linkedin&utm_medium=click&utm_campaign=blog" data-onSuccess="success" data-onError="failure"></script>
</div>

<hr>

<div class=share>
  Youtube link with url query parameter: <script type="IN/Share" data-url="http://www.youtube.com/watch?v=ttXuhDuZ4CA" data-onSuccess="success" data-onError="failure"></script>
</div>

<div class=share>
  Another youtube link with url query parameter: <script type="IN/Share" data-url="http://www.youtube.com/watch?v=3DYVE4RTikU" data-onSuccess="success" data-onError="failure"></script>
</div>

<div class=share>
  Youtube search link with tracking: <script type="IN/Share" data-url="http://www.youtube.com/results?search_query=ignite+taipei&page=&utm_source=opensearch" data-onSuccess="success" data-onError="failure"></script>
</div>

<hr>

<div class=share>
  This page: <script type="IN/Share" data-url="" data-onSuccess="success" data-onError="failure"></script>
</div>


<div>
 <img src="/Share-with-Friends1.jpg" alt="Please do share!">
</div>

</body>
</html>
